@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Fonts
@mixin nav-font {
  color: $black8;
  font: {
    family: $title-font-family;
    size: 1.5em
  }
}

@mixin nav-input {
  color: $black8;
  background-color: $black2;
  font: {
    family: $title-font-family;
    size: 20px;
  }
}

@mixin base-font {
  font: {
    family: $base-font-family;
    size: 16px;
  }
}

// UI components
@mixin card {
  padding: 20px 10px;

  background-color: white;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: .15s;

  font: {
    family: $base-font-family;
    size: 19px;
  }

  //&:hover {
  //  box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
  //  transform: translateY(-2px);
  //}
}

@mixin card-title {
  position: relative;
  margin-bottom: 20px;
  font: {
    family: $section-title-font-family;
    size: 24px;
  }

  .card-name {
    font: {
      family: $section-title-font-family;
      size: 24px;
    }

    color: $blue5;
    text-decoration: none;
  }
}

@mixin display-width {
  width: span(9);
  margin:0 auto;

  @include breakpoint($sm-down) {
    width: span(12);
  }
}

@mixin btn-hover {
  &:hover {
    background-color: $black0;
    box-shadow: 0px 0px 20px $blue0;

    a {
      color: $black8;
    }
  }
}

@mixin nav-responsive-width {
  width: span(6);

  @include breakpoint($sm-down) {
    width: span(11);
  }
}