// Special fonts load
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Breakpoint (to use with min-width of breakpoint)
$xs: screen max-width 600px; // small to large handset
$sm: screen 600px 960px; // small to medium tablet
$md: screen 960px 1264px; // large tablet to laptop
$lg: screen 1264px 1904px; // desktop
$xl: screen 1904px; // 4k and ultra-wides

$xs-down: screen max-width 600px;   // 600px and down
$sm-down: screen max-width 960px;   // 960px and down
$md-down: screen max-width 1264px;  // 1264px and down


$sm-up: screen 600px; // Priority on z-index
$md-up: screen 960px;
$lg-up: screen 1264px;

// Font config
$title-font-family: 'Lobster', cursive;
$section-title-font-family: "Roboto", sans-serif;

// Base font
$base-font-family: 'Georgia, serif';
$base-font-size: '14px';

// Color config
$black0: #E6E9EC;
$black1: #D0D3D6;
$black2: #B6B9BC;
$black3: #A0A3A6;
$black4: #86898C;
$black5: #737679;
$black6: #595C5F;
$black7: #434649;
$black8: #303336;

$blue0: #CFEDFB;
$blue1: #9BDAF3;
$blue2: #68C7EC;
$blue3: #34B3E4;
$blue4: #00A0DC;
$blue5: #008CC9;
$blue6: #0077B5;
$blue7: #005E93;
$blue8: #004471;

$green0: #E0F4BE;
$green1: #C7E59A;
$green2: #AED677;
$green3: #95C753;
$green4: #7CB82F;
$green5: #60AA14;
$green6: #4E8F13;
$green7: #3B7511;
$green8: #295A10;

// Base
$base-bg-color: $black0;

/* Content */
// Content Header
$content-header-bg-color: $black0;
$lang-change-btn-bgcolor: $black2;

/* Resume view */
$exp-card-bg-color: $black1;

// Navigation config
$navbar-bg-color: $black8;
$navbar-btn-bg-color: $black3;
$nav-z-index: 10;
$nav-height: 70px;

// About section
$about-bg-color: $black7;
$about-font-color: $black0;

// Objective section
$objectives-bg-color: $black4;
$objectives-font-color: $black8;
