// Add Global styles (Enable using breakpoint in nested view/component)
// This file will be auto-injected into each .vue file (Check corresponding vue-loader in webpack.common.js)
// Libraries
@import "~normalize.css";
@import "~breakpoint-sass";
// Susy
@import "~susy/sass/susy";
@import "~susy/sass/plugins/svg-grid";

$susy: (// Default Susy Setting
        'columns': susy-repeat(12), // total # of columns = 24 (Symmetrical - no at)
        'gutters': 0.25, // fluid: gutter size in respect to a column's size
  // Default = 'narrow'
  // this is span option
        'spread': 'narrow',
  // describes how a grid-parent/container handles available gutters
  // Default = 'narrow' - Put gutters between the columns ( 1 less gutters than column)
        'container-spread': 'narrow',
);
$main-content-layout: (
        'columns': 240px susy-repeat(12), // total # of columns = 24 (Symmetrical - no at)
        'gutters': 0.25, // fluid: gutter size in respect to a column's size
        'spread': 'narrow',
        'container-spread': 'narrow',
);

// App
@import "variables";
@import "mixins";

// Global styles
* {
  // This would au-remove padding from p
  margin: 0;
  padding: 0;
  box-sizing: border-box; // with of a dom = width + padding + border

  @include base-font;
}

body {
  min-height: 100vh;
}
